.row {
  padding: 50px 5px;
  text-align: center;
  margin: 10px;
  border: 1px dashed #ccc;
  .row__header {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
  }
  .row__items {
    display: flex;
    align-items: flex-start;
  }
}